.site-header
	text-align: center

.vidContainer
	top: 0
	left: 0
	position: absolute
	width: 100%
	height: 100%
	background: black

.vidBg
	right: 0
	bottom: 0
	position: fixed
	min-width: 100%
	min-height: 100%
	width: auto
	height: auto
	// -webkit-filter: blur(20px)

.lineBg
	top: 0
	left: 0
	position: absolute
	width: 100%
	height: 100%
	opacity: 0.3
	background: url('/media/overlay.png')
