<div class="modal-image" style="background-image: url({{ item.src }});"></div>
<div class="modal-content">
    <h2 class="modal-title">{{ item.title }}</h2>
    <p class="modal-text">{{ item.desc }}</p>
</div>
<div class="modal-close" ng-click="closeModal()">
    <i class="fa fa-times"></i>
</div>
<!-- TODO: Replace with "Start" or "End" btns rather than accidentally clicking back into the overview -->
<a class="modalCycleBtn left"
   ng-if="!firstItem"
   ui-sref="soup.work.detail({ id: item.id - 1})">
    <i class="fa fa-chevron-left fa-2x"></i>
</a>
<a class="modalCycleBtn right"
   ng-if="!lastItem"
   ui-sref="soup.work.detail({ id: item.id + 1})">
    <i class="fa fa-chevron-right fa-2x"></i>
</a>
